<!DOCTYPE html>
<head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
<style>
.jumbotron
{
        background-color: black;
        color:ivory;
}
a
{
        font-size: 1.5em;
}
</style>
</head>
<body>
        
                        
                        <div id="app">
                                <div class="jumbotron text-center">
                                                <h1>Search Engine</h1>
                                                <input v-model="newtodo">
                                                <input v-on:click.prevent.stop="performsearch" type="button" value="Search">
                                </div>
            
                                <ol>
                                        <li v-for="todo in todos">
                                                <div>
                                                <a v-bind:href= "todo.id.replace('/home/jerold/swm/','')">{{todo.title[0]}}</a>
                                                <p>{{getDescription(todo.description)}}</p>
                                                </div>
                                        </li>
                                </ol>
                        </div> 
                              
        
    <script src="Example.js"></script>
    
</body>