/**
 * Remove the margin in all browsers (opinionated).
 */
 body {
    margin: 0;
  }  

/* Input fields
   ========================================================================== */

   input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
*{
    box-sizing: border-box;
}
  
  .s004 {
    min-height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    font-family: 'Poppins', sans-serif;
    background: url("/Images/background.jpg");
    background-size: cover;
    background-position: center center;
    padding: 15px;
  }
  
  .s004 form {
    width: 100%;
    max-width: 790px;
  }
  
  .s004 form legend {
    font-size: 36px;
    color: #fff;
    font-weight: 800;
    text-align: center;
    margin-bottom: 50px;
  }
  
  .s004 form .inner-form {
    width: 100%;
    margin-bottom: 17px;
  }
  
  .s004 form .inner-form .input-field {
    width: 100%;
    position: relative;
  }

  .s004 form .inner-form .input-field .btn-search {
    width: 70px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    align-items: center;
  }
  
  .s004 form .inner-form .input-field .btn-search svg {
    fill: #333;
    width: 40px;
    height: 40px;
    transition: all .2s ease-out, color .2s ease-out;
  }
  
  .s004 form .inner-form .input-field .btn-search:hover, .s004 form .inner-form .input-field .btn-search:focus {
    outline: 0;
    box-shadow: none;
  }
  
  .s004 form .inner-form .input-field .btn-search:hover svg, .s004 form .inner-form .input-field .btn-search:focus svg {
    fill: #000;
  }
